#hero{
// background-image: url('../../assets/img/ring-witha--background-for-a-home-page---web-site.png');
 margin-top: 50px;
 height: 770px;
}
#discover{
    margin-top: 28%;
}
a{
    text-decoration: none;
}